@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-background text-white;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

.ticker {
  animation: ticker 24s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
